
<h1>Товары</h1>

<% if  @items.empty? %>
	<p>Нет товаров в магазине !</p>
<% else  %>

<table>
	<tr>
		<th>id</th>
		<th>Name</th>
		<th>Price</th>
		<th></th>
	</tr>

<% @items.each do |i|  %>

	<tr>
		<td><%= i.id  %></td>
		<td><%= link_to  i.name, item_path(i) %></td>
		<td><%= i.price  %></td>
		<td><%= link_to "Удалить", item_path(i), method: :delete, data: {confirm: "Точно удалить ?"}  %></td>
	</tr>
<% end  %>

</table>

<% end  %>

